language: scala

scala:
    - 2.11.6

sudo: false

before_script:
    - echo $TRAVIS_SCALA_VERSION

script:
    - sbt ++$TRAVIS_SCALA_VERSION clean coverage test

after_success:
    - bash <(curl -s https://codecov.io/bash)
    - sbt coverageReport codacyCoverage
