language: scala

scala:
    - 2.11.5

sudo: false

before_script:
    - mkdir -p $HOME/.sbt/launchers/0.13.8/
    - curl -L -o $HOME/.sbt/launchers/0.13.8/sbt-launch.jar http://dl.bintray.com/typesafe/ivy-releases/org.scala-sbt/sbt-launch/0.13.8/sbt-launch.jar

script:
    - sbt ++$TRAVIS_SCALA_VERSION clean coverage test

after_success:
    - sbt coveralls
    - sbt coverageReport codacyCoverage
